.weather-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the space between detail items */
    padding: 20px;
}

.detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-number {
    font-size: 1.2rem; /* Larger font size for numbers */
    font-weight: bold;
}

.detail-label {
    font-size: 0.8rem; /* Smaller font size for labels */
}